@page
@model StudentAccomodation.Pages.DisplayAllModel
@{
}
<html>
<body style="background-color:powderblue;">
  <p style="color:red; font-size:300%">Welcome to the Displayer Page</p>

 <a  asp-area="" asp-page="/Apartments/DisplayApartments"><p style="color:rebeccapurple;">1. Display All Apartments</p></a>
<a  asp-area="" asp-page="/Dormitories/GetAllDormitories"><p style="color:rebeccapurple;">2. Display All Dormitories</p></a>
<a  asp-area="" asp-page="/Leasings/DisplayAllLeasings"><p style="color:rebeccapurple;">3. Display All Leasings</p></a>
<a  asp-area="" asp-page="/Rooms/DisplayAllRooms"><p style="color:rebeccapurple;">4. Display All Rooms</p></a>
<a  asp-area="" asp-page="/Students/DisplayAllStudents"><p style="color:rebeccapurple;">5. Display All Students</p></a>

</body>
</html>

                 