@page
@model StudentAccomodation.Pages.DisplayAllModel
@{
}<p>
                           <a asp-page="/Students/Student_Enrollments" asp-route-sid="@item.StudentId">Show Enrollments</a>
                       </p>
